@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
:root {
    --cor-primaria: #27374D;
    --cor-secundaria: #DDE6ED;
    --cor-terciaria: #526D82;
    --cor-hover: #9DB2BF; 
    --fonte-primaria:'Krona One', sans-serif;
    --fonte-secundaria:'Montserrat', sans-serif;

}
*{
    margin: 0;
    padding: 0;
}
body {
    /*height: 100vh;*/
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 2% 0% 0% 15%

}

.cabecalho__menu{
    display: flex;
    gap: 80px
}

.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-size: 1.5 rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;

}
.titulo-destaque {
    color: var(cor--terceciaria);
}

.apresentacao {
    padding: 5% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px

}

.apresentacao__conteudo__titulo{
    font-size: 4.25 rem;
    font-family: var (-fonte-primaria);
}

.apresentacao__conteudo__texto{
    font-size: 2.5 rem;
    font-family: var (--fonte-secundaria);
}
.apresentacao__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    
}
.apresentacao__links__navegacao{
    /* background-color: #22d4fd; */
    width: 50%;
    text-align: center;
    border-radius: 8px;
    border: 2px solid var(--cor-terciaria);
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 10px;
    color: var(--cor-secundaria) ;
    font-family: var (--fonte-secundaria);
    display: flex;
    justify-content: center;
    gap: 16px
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-hover);
}


.aapresentacao__links__subtitulo{
    font-family: var (--fonte-primaria);
    font-weight: 400;
    font-size: 0.5px;
}

.apresentacao__imagem{
    width: 40%;
    border-radius: 8px;
}
.rodape{
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 400;
    padding: 24px;
    text-align: center;
}
@media (max-width: 1200px) {
.apresentacao{
    flex-direction:column-reverse;
}
.cabecalho{
padding: 10%;}

.cabecalho__menu{
    justify-content: center;
}
.apresentacao__conteudo{
width: auto;
}
} 